<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title><%= pageTitle %></title>
</head>
<body>

    <header>
        <div>

            <div class="container first-nav">
                <p>+2348110479876 | Stores</p>

                <input type="text" class="input-field" placeholder="Search entire stores  here..." >

                <p>Welcome <%= user.username %></p>

                <div class="top-ico">
                    <i class="fa color1 fa-user" aria-hidden="true"></i>

                    <i class="fa color1 fa-heart"></i>

                    <i class="fa color1 fa-shopping-cart" aria-hidden="true"></i>

                </div>
            </div>

            <nav class="container ">
                <figure class="icon">
                    <img src="/logo.png" alt="LOGO">
                </figure>


                <ul class="nav_menu">
                    <li><a href="" >Chairs</a></li>
                    <li><a href="">Tables</a></li>
                    <li><a href="">Dinning Sets</a></li>
                    <li><a href="">Coffee Tables</a></li>
                    <li><a href="">Bar Stools</a></li>
                    <li><a href="">Office Chairs</a></li>
                    <li><a href="">Floor Carpets</a></li>
                    <li><a href="">Poufs</a></li>
                </ul>
            </nav>


        </div>

    </header>