<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>

    <main class="dashboard">

        <section class="dashboard-menu">
    
            <div>
                <div class="dh-head">
                    <figure>
                        <img class="logo" src="/logo.png" alt="">
                    </figure>
    
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </div>
    
    
                <div class="dh-menus">

                    <div class="icons">
                        <figure><img class="ic" src="/menu (1).png" alt=""></figure>
                        <figure><img class="ic" src="/menu (1).png" alt=""></figure>
                        <figure><img class="ic" src="/menu (1).png" alt=""></figure>
                        <figure><img class="ic" src="/menu (1).png" alt=""></figure>
                        <figure><img class="ic" src="/menu (1).png" alt=""></figure>
                        <figure><img class="ic" src="/menu (1).png" alt=""></figure>
                        <figure><img class="ic" src="/menu (1).png" alt=""></figure>
                        <figure><img class="ic" src="/menu (1).png" alt=""></figure>

                    </div>
                    <div>
                        <ul class="menus">
                            <li><a href="">Dashboard</a></li>
                            <li><a href="">Orders</a></li>
                            <li><a href="">Customers</a></li>
                            <li><a href="">Products</a></li>
                            <li><a href="">Messages</a></li>
                            <li><a href="">Analytics</a></li>
                            <li><a href="">Help Center</a></li>
                            <li><a href="">Settings</a></li>
                        </ul>
                    </div>
                </div>
    
                <div>
                    <div>
    
                        <p>Emmanuel</p>
                    </div>
    
                    <button class="button1">Logout</button>
                </div>
            </div>
    
            <div>
    
                <input type="text" name="" id="">
    
                <div>
    
    
                    <p>Emmanuel</p>
                </div>
                
            </div>
        </section>

        <section class="dashboard-content">
            <h1>overview</h1>
        </section>
    
    </main>
    
</body>
</html>
