<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>

    <main>
        <section class="dashboard">
            <section class="sidenav">

                <div class="opener">
                    <figure>
                        <img src="/logo.png" class="logo" alt="">
                    </figure>
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </div>
    
                <div class="navmenu">
                    
                    <ul>
                        <li> 
                            <i class="fa fa-th-list" aria-hidden="true"></i>
                            <a href=""> Dashboard</a>
                        </li>

                        <li> 
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            <a href=""> Orders</a>
                        </li>

                        <li> 
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <a href=""> Customers</a>
                        </li>

                        <li> 
                            <i class="fa fa-tags" aria-hidden="true"></i>
                            <a href=""> Products</a>
                        </li>

                        <li> 
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <a href=""> Message</a>
                        </li>

                        <li> 
                            <i class="fa fa-line-chart" aria-hidden="true"></i>
                            <a href=""> Analytics</a>
                        </li>

                        <li> 
                            <i class="fa fa-question-circle" aria-hidden="true"></i>
                            <a href=""> Help Center</a>
                        </li>

                        <li> 
                            <i class="fa fa-cogs" aria-hidden="true"></i>
                            <a href=""> Settings</a>
                        </li>
                    </ul>
    
                </div>
    
                <div class="admin">

                    <div>
                        <img src="" alt="">
                        <p>Emmanuel</p>
                    </div>

                    <button class="button2">Logout</button>
    
                </div>
    
            </section>
    
            <section>

                <div class="dash-top">
                    <input type="text" name="" id="">

                    <div class="top-left">
                        <i class="fa fa-bell icons"  aria-hidden="true"></i>
                        <div>
                            <img src="" alt="">
                        </div>
                        <p>Emmanuel</p>
                    </div>
                </div>
    
            </section>
        </section>
    </main>

</body>
</html>
