<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>

    <header>
        <div>

            <div class="container first-nav">
                <p>+2348110479876 | Stores</p>

                <input type="text" placeholder="Search entire stores  here...">

                <div>
                    <i class="fa fa-user" aria-hidden="true"></i>

                    <i class="fa fa-heart"></i>

                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>

                </div>
            </div>

            <nav class="container ">
                <figure class="icon">
                    <img src="/logo.png" alt="LOGO">
                </figure>


                <ul class="nav_menu">
                    <li><a href="" >Chairs</a></li>
                    <li><a href="">Tables</a></li>
                    <li><a href="">Dinning Sets</a></li>
                    <li><a href="">Coffee Tables</a></li>
                    <li><a href="">Bar Stools</a></li>
                    <li><a href="">Office Chairs</a></li>
                    <li><a href="">Floor Carpets</a></li>
                    <li><a href="">Poufs</a></li>
                </ul>
            </nav>


        </div>

    </header>

    <main>

    <section class="container">
        
        <div>
            <figure>
                <img src="/Rectangle 23headerimg.png" alt="">
            </figure>
        </div>
    </section>


    <section class="container">
       <div class="two-col">
        <div >

            <div class="mg-bk-1">
                <h2>Why Choose Us</h2>
                <p>Bringing you the best of contemporary furniture</p>
            </div>

            <div class="mg-bk-1 sq">
                <figure class="icon">
                    <img src="/Vectorwhyimg.png" alt="">
                </figure>

                <h3>Shop in store & Online</h3>
                <p>Visit our galleries or shop from home</p>
            </div>

            <div class="mg-bk-1 sq">
                <figure class="icon">
                    <img src="/Vectorwhyimg-2.png" alt="">
                </figure>

                <h3>Nationwide delivery</h3>
                <p>to your door wherever you are</p>
            </div>

            <div class="mg-bk-1 sq">
                <figure class="icon">
                    <img src="/Vectorwhyimg-1.png" alt="">
                </figure>

                <h3>Compare other products</h3>
                <p>Always check for more products.</p>
            </div>

            <div class="mg-bk-1 sq">
                <figure class="icon">
                    <img src="/Vectorwhyimg-3.png" alt="">
                </figure>

                <h3>Unique selection</h3>
                <p>Sophisticated styles for modern tastes</p>
            </div>

        </div>

        <div>

            <figure>
                <img src="/Why chose us.png" alt="">
            </figure>
            
        </div>
       </div>
    </section>

    <section class="container">

        <div>
            <h2>Explore Our Furniture Store Online</h2>

            <div class="prd-list">
                <div class="products">
                    <div class="prd-tag">
                        <p>Up to 30% off</p>
                    </div>
    
                    <figure class="prd-img">
                        <img src="/Rectangle 92-3.png" alt="">
                    </figure>
    
                    <p class="color1">Kurv chair</p>
                    <h4 class="mg-tb">N40,000</h4>
    
                    <div class="actions">
                        <div>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
    
                        <div>
                            <i class="fa fa-heart" aria-hidden="true"></i>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <i class="fa fa-compress" aria-hidden="true"></i>
    
                        </div>
                    </div>
    
                </div>
                <div class="products">
                    <div class="prd-tag">
                        <p>Up to 30% off</p>
                    </div>
    
                    <figure class="prd-img">
                        <img src="/Rectangle 92-4.png" alt="">
                    </figure>
    
                    <p class="color1">Bar Stool</p>
                    <h4 class="mg-tb">N60,000</h4>
    
                    <div class="actions">
                        <div>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
    
                        <div>
                            <i class="fa fa-heart" aria-hidden="true"></i>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <i class="fa fa-compress" aria-hidden="true"></i>
    
                        </div>
                    </div>
    
                </div>
                <div class="products">
                    <div class="prd-tag">
                        <p>Up to 30% off</p>
                    </div>
    
                    <figure class="prd-img">
                        <img src="/Rectangle 92-5.png" alt="">
                    </figure>
    
                    <p class="color1">Poufs</p>
                    <h4 class="mg-tb">N70,000</h4>
    
                    <div class="actions">
                        <div>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
    
                        <div>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <i class="fa fa-compress" aria-hidden="true"></i>
    
                        </div>
                    </div>
    
                </div>

                <div class="products">
                    <div class="prd-tag">
                        <p>Up to 30% off</p>
                    </div>
    
                    <figure class="prd-img">
                        <img src="/Rectangle 92.png" alt="">
                    </figure>
    
                    <p class="color1">KOutdoor teak dinning set</p>
                    <h4 class="mg-tb">N250,000</h4>
    
                    <div class="actions">
                        <div>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
    
                        <div>
                            <i class="fa fa-heart" aria-hidden="true"></i>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <i class="fa fa-compress" aria-hidden="true"></i>
    
                        </div>
                    </div>
    
                </div>
                <div class="products">
                    <div class="prd-tag">
                        <p>Up to 30% off</p>
                    </div>
    
                    <figure class="prd-img">
                        <img src="/Rectangle 92-1.png" alt="">
                    </figure>
    
                    <p class="color1">Eames Dinning setsl</p>
                    <h4 class="mg-tb">N160,000</h4>
    
                    <div class="actions">
                        <div>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
    
                        <div>
                            <i class="fa fa-heart" aria-hidden="true"></i>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <i class="fa fa-compress" aria-hidden="true"></i>
    
                        </div>
                    </div>
    
                </div>
                <div class="products">
                    <div class="prd-tag">
                        <p>Up to 30% off</p>
                    </div>
    
                    <figure class="prd-img">
                        <img src="/Rectangle 92-5.png" alt="">
                    </figure>
    
                    <p class="color1">Coffee tables</p>
                    <h4 class="mg-tb">N180,000</h4>
    
                    <div class="actions">
                        <div>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
    
                        <div>
                            <i class="fa fa-heart" aria-hidden="true"></i>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <i class="fa fa-compress" aria-hidden="true"></i>
    
                        </div>
                    </div>
    
                </div>
            </div>
        </div>

    </section>



    <section class="container">
        <h2 class="mg-tb">Our Client Reviews</h2>

    </section>
    <section class="container">

        <div class="review">
            
            <button class="btn1">
                <i id="left" class="fa fa-3x  fa-arrow-circle-left" ></i>
            </button>
            <button class="btn2">
                <i id="right" class="fa fa-3x  fa-arrow-circle-right" ></i>
            </button>

            <div class="review-container">

                <div class="review-cards">
                        <figure>
                            <img src="Rectangle 20.png" alt="">
                        </figure>
        
                        <div class="review-details">
                            <div class="review-ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
        
                            <p>Demetrius</p>
                            <h3>
                                This is super legit, he delivered mine, and I love them
                            </h3>
                        </div>
                </div>
                <div class="review-cards">
                        <figure>
                            <img src="Rectangle 20.png" alt="">
                        </figure>
        
                        <div class="review-details">
                            <div class="review-ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
        
                            <p>Demetrius</p>
                            <h3>
                                This is super legit, he delivered mine, and I love them
                            </h3>
                        </div>
                </div>
                <div class="review-cards">
                        <figure>
                            <img src="Rectangle 20.png" alt="">
                        </figure>
        
                        <div class="review-details">
                            <div class="review-ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
        
                            <p>Demetrius</p>
                            <h3>
                                This is super legit, he delivered mine, and I love them
                            </h3>
                        </div>
                </div>
                <div class="review-cards">
                <figure>
                    <img src="Rectangle 20.png" alt="">
                </figure>

                <div class="review-details">
                    <div class="review-ratings">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>

                    <p>Demetrius</p>
                    <h3>
                        This is super legit, he delivered mine, and I love them
                    </h3>
                </div>
                </div>
                <div class="review-cards">
                    <figure>
                        <img src="Rectangle 20.png" alt="">
                    </figure>
    
                    <div class="review-details">
                        <div class="review-ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
    
                        <p>Demetrius</p>
                        <h3>
                            This is super legit, he delivered mine, and I love them
                        </h3>
                    </div>
                    </div>
                    <div class="review-cards">
                        <figure>
                            <img src="Rectangle 20.png" alt="">
                        </figure>
        
                        <div class="review-details">
                            <div class="review-ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
        
                            <p>Demetrius</p>
                            <h3>
                                This is super legit, he delivered mine, and I love them
                            </h3>
                        </div>
                        </div>
                        <div class="review-cards">
                            <figure>
                                <img src="Rectangle 20.png" alt="">
                            </figure>
            
                            <div class="review-details">
                                <div class="review-ratings">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
            
                                <p>Demetrius</p>
                                <h3>
                                    This is super legit, he delivered mine, and I love them
                                </h3>
                            </div>
                            </div>
        </div>  
           
        </div>

    </section>


    </main>

    <footer>

        <div class="container">
            <div class="fi-ft">
                <figure class="icon">
                    <img src="/logo.png" alt="">
                </figure>

                <p>2017-2023 Bark&Saw.</p>

                <div class="socials">
                    <figure class="icon">
                        <img src="/social media iconspcoal.png" alt="">
                    </figure>
                    <figure class="icon">
                        <img src="/social media iconspcoal-1.png" alt="">
                    </figure>
                    <figure class="icon">
                        <img src="/social media iconspcoal-2.png" alt="">
                    </figure>
                </div>
            </div>
        </div>

    </footer>
    
    <script src="/script.js"></script>
</body>
</html>