<header>
    <link rel="stylesheet" href="/main.css">
</header>
<main>
    <section class="login">
        <div class="side1">
            <figure>
                <img src="logo.png" alt="">
            </figure>

            <h4>Bringing you the best of contemporary furniture</h4>
        </div>
        <div class="side2">
            <div>
                <h2>Welcome Back!</h2>
                <p>New to Bark&Saw? <a href="/sign-up">Sign up</a></p>
            </div>

            <div >
                <form action="/login" method="POST">
                    <label  for="email">Email Address</label>
                    <input type="text" required>

                    <label  for="password">Password</label>
                    <input type="password" required>

                    <input type="checkbox" name="remember" placeholder="Remember Me" id="">
                    <label for="remember">Remember Me</label> <br>

                    <button class="button1">Login</button>
                </form>
            </div>
        </div>
    </section>
</main>