<%- include("includes/header") %>

<div class="container">
    <div class="prod__img">

        <div>
            <figure>
                <img src="Rectangle 92.png" alt="">
            </figure>

            <figure>
                <img src="Rectangle 92.png" alt="">
            </figure>

            <figure>
                <img src="Rectangle 92.png" alt="">
            </figure>

            <figure>
                <img src="Rectangle 92-3.png" alt="">
            </figure>

        </div>

        <div>
            <figure>
                <img src="Rectangle 92.png" alt="">
            </figure>
        </div>

    </div>

    <div>

    </div>
</div>

<%- include("includes/footer") %>