/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');


/* DOCUMMENT RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff); 
}

button, textarea, input {
    font-family: inherit;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

html {
    scroll-behavior: smooth;
}

/* STYLE VARIABLES */
:root {
    --ff: 'Poppins', sans-serif;

    --color1: #E16F25;
    --color2: #C98B43;
    --color3: #FBC786;
    --color4: #BCB698;
    --color-alert: #C80000;
    --color-bk: #474444;

    --fs-h1: clamp(5rem, 5vw, 3rem);
    --fs-h2: clamp(4rem, 4vw, 2rem);
    --fs-h3: clamp(2rem, 4vw, 1rem);
    --fs-h4: clamp(1rem, 4vw, .8rem);


    --p: clamp(1rem, 4vw, 0.7rem);

}

/* UTILIY CLASSES */ 

h1 {
    font-size: var(--fs-h1);
    font-weight: 700;
}

h2 {
    font-size: var(--fs-h2);
    font-weight: 500;
}

h3 {
    font-size: var(--fs-h3);
    font-weight: 200;
    line-height: 1;
}

h4 {
    font-size: var(--fs-h4);
    font-weight: 600;
}

p {
    font-size: --p;
}

.container {
    width: min(1400px, 80%);
    margin-inline: auto;
    display: flex;
    align-items: center;
    padding: 2rem;
}

.mg-bk-1 {
    margin-bottom: 2rem;
}

.mg-tb {
    margin-block: .5rem;
}

.prd-img {
    margin-block: 1rem;
}

.sq {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.color1 {
    color: var(--color1);
}

.color2 {
    color: var(--color2);
}

.color3 {
    color: var(--color3);
}

.color4 {
    color: var(--color4);
}

/* GENERAL STYLES */
.first-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid var(--color-bk);
}

.icon {
    width: 8%;
}

nav {
    display: flex;
    padding: 2rem;
    justify-content: space-between;
}

.nav_menu {
    display: flex;
}

.nav_menu li {
    margin-inline: 1rem;
    list-style: none;

}

.nav_menu li a {
    color: var(--color1);
    text-decoration: none;
}

.two-col {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

.prd-list {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}
.products {
    position: relative;
    width: 350px;
    padding: 2rem;
    background-color: #F9F9F9;
}


.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.prd-tag {
    position: absolute;
    right: 0;
    text-align: center;
    width: 197px;
    padding: .5rem;
    background-color: var(--color3);
}

.fa-star {
    color: var(--color1);
}


.review {
    position: relative;
   width: 95%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.btn1, .btn2 {
    border: none;
    padding: 1rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 9;
    background-color: var(--color1);
}

.btn1  {
    left: -30px;

}

.btn2 {
    right: -30px;

}

.review-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 1rem;
    overflow: hidden;
    scroll-behavior: smooth;
}


.review-cards {
    width: 400px;
    
}






.review-details {
    position: relative;
    padding: 3rem 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.review-ratings {
    background-color: white;
    padding: 1rem;
    position: absolute;
    top: -30px;
    box-shadow: 0 10px 10px rgb(213, 213, 213);
    border-radius: 10px;
}

footer {
    padding: 3rem;
    background-color: #D7D9D8;
}

.fi-ft {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
}